<!DOCTYPE html>
<html lang="en">

<head>
	<title>Food Freak | Login</title>
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
 	
	<div class="login-page">
		<div class="form">
			<form id="name" class="login-form" action="/done" method="post">
				<input name="name1" type="text" placeholder="name"/>
				<input name="username" type="text"  placeholder="username"/>
				<input name="password" type="password" placeholder="password"/>
				<input type="submit" value="SignUP">
			</form>
		</div>
	</div>
	
</body>
</html>
